*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: darkkhaki;
}

.container{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    background-color: chocolate;
}